transformers
python-dotenv
kagglehub
accelerate 
datasets 
bitsandbytes 
sentencepiece 
jax 
jaxlib
numpy 
flax 
optax 
google-tunix[prod]
ipykernel
ipywidgets
tensorflow
tensorflow_datasets
tensorboardX
grain
qwix